NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nest_google_api

JWT_SECRET=change_me
JWT_EXPIRES_IN=7d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

FRONTEND_URL=http://localhost:4200

DEV_AUTH_ENABLED=true
DEV_AUTH_EMAIL=dev@example.com
DEV_AUTH_PASSWORD=dev1234
DEV_AUTH_NAME=Dev User
